.read-time{
    border: solid 1px #8A67B4;
    border-radius: 5px;
    background-color: #E7E0EE;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    color:#8A67B4;
}

.bookmarked-blogs{
    background-color: #e6e6e6;
    padding: 10px 20px;
    border-radius: 5px;
}
.titles{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width:576px){
    .read-time{
        margin-top: 0;
    }
}